.card {
  position: relative;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  left: 20%;
  top: 100%;
  background-color: var(--box-color);
  width: 600px;
  height: 500px;
  border-radius: 12px;
  font-size: 24px;
  margin: 50px;
  padding: 50px;
}

#title {
  margin-left: 20px;
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
  font-size: 24px;
}
#title:focus {
  border-color: var(--primary-color);
}
#message {
  width: 80%;
  height: 150px;
  resize: none;
  margin-left: 20px;
  font-size: 18px;
}
#message:focus {
  outline: none;
  border-color: var(--primary-color);
}
