:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --background-color: white;
  --text-color: black;
  --text-muted: rgb(106, 105, 105);
  --nav-icon-hover: rgb(215, 214, 213);
  --primary-color: #B12C16;
  --border-color:rgb(213, 213, 213);
}
.dark {
  --background-color: rgb(7, 6, 21);
  --text-color: white;
  --text-muted: rgb(168, 166, 166);
  --nav-icon-hover: rgb(49, 49, 49);
  --border-color:rgb(55, 55, 55);
}
body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}
p {
  margin: 0px;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}
.nav-icon {
  padding: 8px 10px;
  margin: 5px 5px;
  color: var(--text-muted);
  /* border-radius: 12px; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
}
.nav-icon:hover {
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
  background-color: var(--nav-icon-hover);
}
.curr {
  border-bottom: 2px solid var(--primary-color);
  /*  background-color: rgb(132, 53, 0); */
}

button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--nav-icon-hover);
  color: var(--text-color);
}
