:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --background-color: #f9f6f5;
  --text-color: black;
  --text-muted: rgb(106, 105, 105);
  --nav-icon-hover: rgb(215, 214, 213);
  --primary-color: #cc0600;
  --primary-hover: #930500;
  --border-color: rgb(213, 213, 213);
  --box-color: white;
  --button-text: white;
  --box-shadow: rgb(203, 199, 199);
}
.dark {
  --background-color: rgb(7, 6, 21);
  --text-color: white;
  --text-muted: rgb(168, 166, 166);
  --nav-icon-hover: rgb(49, 49, 49);
  --border-color: rgb(55, 55, 55);
  --box-color: rgb(11, 9, 33);
  --button-text: black;
}
* {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}
p {
  margin: 0px;
}
input {
  outline: none;
  background-color: var(--background-color);
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}
textarea {
  font-family: inherit;
  font-size: 24px;
  outline: none;
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}
.logo {
  width: 100px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo tspan {
  fill: var(--primary-color);
  font-size: 110px;
}

.logo text {
  fill: var(--text-color);
  font-family: "Playpen Sans", cursive;
  font-weight: 800;
  font-size: 110px;
}
