a {
  text-decoration: none;
}

.side-btn {
  cursor: pointer;
  color: var(--text-muted);
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.side-btn:hover {
  color: var(--text-color);
}
.side-btn.active {
  color: var(--primary-color);
}
.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  position: relative;
  font-size: 24px;
  z-index: 10;
}
.nav-icon {
  padding: 8px 10px;
  margin: 5px 5px;
  color: var(--text-muted);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  position: relative;
}
.nav-icon::after {
  content: "";
  position: absolute;
  width: 0px;
  left: 50%;
  bottom: 0px;
  height: 1px;
  background-color: var(--primary-color);
  transition: width 0.2s ease-in-out;
}
.nav-icon::before {
  content: "";
  position: absolute;
  width: 0px;
  left: 50%;
  bottom: 0px;
  height: 1px;
  background-color: var(--primary-color);
  transition:
    width 0.2s ease-in-out,
    left 0.2s ease-in-out;
}
.nav-icon:hover {
  transition: all 0.4s ease-in-out;
  background-color: var(--nav-icon-hover);
}
.nav-icon:hover::after {
  width: 50%;
}
.nav-icon:hover::before {
  width: 50%;
  left: 0px;
}
.nav-icon svg {
  display: none;
}
.nav-icon.curr {
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.cart-icon {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-muted);
  transition: all 0.2s ease-in-out;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.cart-icon:hover {
  color: var(--text-color);
}
.cart-icon.active {
  color: var(--primary-color);
}
.curr:hover::after {
  width: 0;
}

.curr::after {
  transition: width 0s ease-in-out;
}
.curr:hover::before {
  width: 0;
}

.curr::before {
  transition: width 0s ease-in-out;
}

@media (max-width: 480px) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border-color);
    border-bottom: none;
  }
  .nav-icon {
    margin: 0;
  }
  .nav-icon svg {
    opacity: 0.5;
    display: block;
  }
  .nav-icon p {
    display: none;
  }
  .nav-icon:hover {
    background-color: transparent;
  }
  .nav-icon.curr {
    color: var(--text-color);
    border: none;
  }
  .curr.nav-icon svg {
    opacity: 1;
  }
}
