a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  z-index: 1000;
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-left {
  flex: 1;
}

.nav-center {
  gap: 5px;
  justify-content: center;
  flex: 2;
}

.nav-right {
  gap: 15px;
  justify-content: flex-end;
  flex: 1;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-logo svg {
  width: 90px;
  height: 40px;
}

.nav-logo tspan {
  fill: var(--text-color);
  font-size: 110px;
}

.nav-logo text {
  fill: var(--primary-color);
  font-family: "Playpen Sans", cursive;
  font-weight: 800;
  font-size: 110px;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
  transition: all 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.action-btn:hover {
  color: var(--text-color);
}

.action-btn.active {
  color: var(--primary-color);
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 15px;
  height: 100%;
  font-size: 18px;
  color: var(--text-muted);
  transition: all 0.2s ease-in-out;
  position: relative;
  font-weight: 500;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  bottom: -1px;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover {
  color: var(--text-color);

}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.curr {
  color: var(--primary-color);
}

.nav-link.curr::after {
  width: 100%;
}

.nav-link svg {
  display: none;
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .navbar {
    bottom: 0;
    top: auto;
    height: 65px;
    padding: 0;
    border-bottom: none;
    border-top: 1px solid var(--border-color);
    padding-bottom: env(safe-area-inset-bottom);
    justify-content: space-evenly;
  }

  .nav-left, .nav-center, .nav-right {
    display: contents; 
  }

  .nav-logo {
    display: none;
  }

  .action-btn, .nav-link {
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
  }
  
  .action-btn svg, .nav-link svg {
    display: block;
    width: 24px;
    height: 24px;
  }

  .nav-link p {
    display: none; 
  }

  .nav-link::after {
    display: none;
  }

  .nav-link:hover, .action-btn:hover {
    background-color: transparent;
    color: var(--text-color);
  }

  .nav-link.curr, .action-btn.active {
    background-color: transparent;
    color: var(--primary-color);
  }
}