.page-container {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    transition: background 0.2s ease-in-out;
}

.notifiaction-place {
    width: 100%;
    max-width: 500px;
    background-color:var(--box-color);
    border-radius: 20PX;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 500px;
}

.notfication-head h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.notfication-head {
    border-bottom: 2px solid var(--text-muted);
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.cards-list {
    display: flex;
    flex-direction: column;
    padding: 5PX;
    flex: 1; 
    overflow-y: auto; 
    scrollbar-width: thin;
    gap: 0;
}

.cards-list::-webkit-scrollbar {
    width: 6px;
}

.notification-card {
    display: flex;
    align-items: center;
    background: var(--box-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 4px solid var(--primary-color);
    transition: background 0.2s ease;
    padding: 10px;
}

.notification-card:hover {
    background-color: var(--nav-icon-hover);
}

.card-img {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    margin-right: 10px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-componants {
    flex: 1;
    padding-bottom: 15px;
}

.card-text {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.4;
    margin-bottom: 4px;
}

.card-title {
    font-weight: 800;
    margin-right: 6px;
    color: var(--primary-color);
}

.card-discreption {
    color: var(--text-color);
}

.card-time {
    display: block;
    font-size: 13px;
    color: var(--text-muted);
}
.bottom{
   padding: 0;
   display: flex;
   width: 100%;
   flex-shrink: 0;
}
.clearall-button {
    width: 100%; 
    background-color: var(--box-color); 
    border: none;
    padding: 15px; 
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
    border-radius: 0 0 20px 20px; 
    border-top: 2px solid var(--text-muted);
}
.clearall-button:hover {
    background-color:var(--box-color);
    filter: brightness(0.9);
}